# Local directories used in development.
data/
local/
dist/
figures/
.figures/
examples/figures/

# MacOS
.DS_Store

# IDE
.vscode/

# Python
__pycache__/

.Python
.cache
.pytest_cache/
cover/

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/
