name: Python Tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      run: pipx install uv
    - uses: actions/setup-python@v6
      with:
        python-version-file: pyproject.toml
        cache: pip
    - name: Install dependencies
      run: |
        uv sync
    - name: Run tests
      id: run-tests
      run: >
        uv run pytest \
          --junitxml=pytest.xml \
          --cov-report=term-missing:skip-covered \
          --cov-report=xml:coverage.xml \
          --cov=src tests \
          --log-level=DEBUG \
          --verbose
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      run: pipx install uv
    - uses: actions/setup-python@v6
      with:
        python-version-file: pyproject.toml
        cache: pip
    - name: Install dependencies
      run: |
        uv sync
    - name: Ruff format
      run: uv run ruff format --check
    - name: Ruff check
      run: uv run ruff check
